* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: none, serif;
    transition: 0.5s;
}

.direct {
    direction: rtl;
}

.border-test {
    border: 1px solid black;
}

.clear {
    clear: both;
}
.study-header{
    background-color: #eeeeee;
}

.navbar-style {
    background-color: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar-item-style li a {
    font-size: 14px;
    font-weight: bold;
    color: rgba(230, 30, 30, 0.7);
}

.navbar-item-style li {
    padding: 5px;
    transition: 0.5s;
}

.navbar-item-style li:hover {
    margin: 0 4px;
}

.navbar-item-style li:hover a {
    color: rgba(255, 30, 30, 1);
}

.navbar-item-style li a span {
    font-size: 20px;
}

@media all and (max-width: 480px) {
    .navbar-item-style li {
        padding: 0;
    }

    .navbar-item-style li a {
        font-size: 12px;
    }

    .navbar-item-style li:hover {
        margin: 0 2px;
    }
}

.divider-header {
    height: 2px;
    width: 100%;
    background-color: #f3f3f3;
}

.social-network {
    text-align: center;
}

.social-network-item {
    display: inline-block;
    margin: 5px 0;
}

.social-network-item span {
    font-size: 20px;
    margin: 2px;
    color: rgba(230, 30, 30, 0.7);
    transition: 1s;
}

.social-network-item:hover span {
    color: red;
    background-color: #ffc107;
}
.downRectAngle{
    position: relative;
    top: -100px;
    z-index: 1;
}
.sideRight{
    position: fixed;
}
.img-control{
    width: 100%;
    overflow: hidden;
}
.learning-sec{
    margin-top: -100px;
}
.img-sideRight{
    margin: 0 auto;
    width: 300px;
    max-height:300px;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
}
.list-sideRight{
    text-align: center;
    list-style-type: none;
    margin-top: 30px;
}
.list-sideRight li{
    margin: 0 auto;
    width: 80%;
    padding: 5px;
    border-bottom: 1px solid #f3f3f3;
    transition: 0.5s;
}
.list-sideRight li:hover{
    background-color: #f3f3f3;
}
.sideLeft{
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    text-align: right;
    padding: 10px 15px;
}
.title-sec h1{
    font-size:24px;
    font-weight: bold;
    color: rgba(230,30,30,0.8);
}
.divider{
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    margin: 15px auto;
}
.main-sec{
    padding: 0 10px;
}
.main-sec h2{
    font-size: 22px;
    font-weight: 600;
    color: #444;
}
.main-sec p{
    color: #555;
    font-size: 16px;
}
.main-sec a{
    color: rgba(230,30,30,0.7);
    font-weight: bold;
    text-decoration: none;
}
.main-sec a:hover{
    color: red;
}
.content-img-control{
    width: 90%;
    overflow: hidden;
}
.content-img-control img{width: 100%;}
.sideTop{text-align: center;width: 100%; margin: 0 auto;}
.sideTopList li{
    border-left: 1px solid #f0f0f0;
    display: block;
    font-size: 14px;
    padding: 4px;
    border-bottom: 1px solid #f0f0f0;
}
.sideTopList li:hover{
    background-color: #f0f0f0;
}
@media all and (max-width: 480px){
    .title-sec h1{
        font-size: 20px;
    }
    .main-sec h2{
        font-size: 18px;
    }
    .main-sec p{
        font-size: 14px;
    }
}
.btn-style{
    border: 1px solid #f0f0f0;
    font-size: 14px;
    float: left;
}

footer {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    margin-top: 100px;
}

.content-footer {
    direction: rtl;
    text-align: right;
}

.links, .indexpages, .infous {
    font-size: 14px;
    height: auto;
    padding: 10px;
}

.header-links, .header-pages, .header-infous {
    font-size: 16px;
}

.links a, .indexpages a {
    font-weight: bold;
    color: rgba(230, 30, 30, 0.7);
}

.links a:hover, .indexpages a:hover {
    color: red;
    text-decoration: none;
}

.line1 {
    width: 100%;
    height: 3px;
    background-color: rgba(152, 131, 85, .5);
}

.overline1 {
    width: 50px;
    height: 3px;
    background-color: #988355;
}

.links a {
    display: block;
    margin-top: 15px;
}

.links a:hover {
    margin-right: 10px;
}

.indexpages a {
    display: block;
    margin-top: 15px;
}

.indexpages a:hover {
    margin-right: 10px;
}

.line2 {
    width: 100%;
    height: 3px;
    background-color: rgba(139, 82, 115, .5);
}

.overline2 {
    width: 50px;
    height: 3px;
    background-color: #8B5273;
}

.line3 {
    width: 100%;
    height: 3px;
    background-color: rgba(34, 162, 162, .5);
}

.overline3 {
    width: 50px;
    height: 3px;
    background-color: #22a2a2;
}

.information {
    font-weight: bold;
    color: rgba(230, 30, 30, 0.7);
}
.information a{
    color: rgba(230,30,30,0.7);
}

.phoneicon, .homeicon {
    color: rgba(230, 30, 30, 0.7);
}

.icons {
    font-size: 20px;
    padding-right: 15px;
    padding-top: 10px;
    color: rgba(230, 30, 30, 0.7);
}

.icons:hover {
    color: red;
}
.top-adver {
    margin: 0 auto;
    width: 80%;
    max-height: 125px;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

.top-adver img {
    width: 100%;
    height: 100%;
}
