* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: none, serif;
}

.direct {
    direction: rtl;
}

.heading-sec {
    color: rgba(230, 30, 30, 0.8);
    font-size: 26px;
    font-weight: bold;
}

.header {
    width: 100%;
    max-height: 92vh;
    overflow: hidden;
    border-radius: 0;
    direction: rtl;
}

.bg-header-img {
    height: 100%;
    background-image: url("../img/maps-red-1920x1080-wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.overlay-header {
    height: 100%;
    width: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: 0.8s;
}

.overlay-header:hover {
    width: 100%;
    border-bottom-left-radius: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-style {
    background-color: transparent;
}

.navbar-style a {
    color: rgba(230, 230, 230, 0.8);
    transition: 0.5s;
}

.navbar-item-style li a {
    font-size: 14px;
    font-weight: bold;
}

.navbar-item-style li {
    padding: 5px;
    transition: 0.5s;
}

.navbar-item-style li:hover {
    margin: 0 4px;
    color: white;
}

.navbar-item-style li a span {
    font-size: 20px;
}

.header-content {
    margin-top: 300px;
    padding-bottom: 140px;
    transition: 0.5s;
    color: #f0f0f0;
}

.header-content h1 {
    font-size: 34px;
    direction: rtl;
    text-align: right;
}

.header-content h2 {
    font-size: 26px;
    text-align: right;
    padding-bottom: 10px;
    float: right;
    direction: ltr;
}

.clear {
    clear: both;
}

.line-under-text {
    float: right;
    width: 45%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

@media all and (max-width: 1100px) {
    .header-content {
        margin-top: 250px;
    }

    .overlay-header {
        width: 60%;
    }
}

@media all and (max-width: 990px) {
    .header-content {
        margin-top: 150px;
    }

    .navbar-brand {
        display: block;
    }

    .navbar-item-style li a {
        font-size: 12px;
    }

    .navbar-item-style li a span {
        font-size: 16px;
    }
}

@media all and (max-width: 900px) {
    .overlay-header {
        width: 100%;
        border-radius: 0;
    }
}

@media all and (max-width: 720px) {
    .header-content {
        margin-top: 100px;
    }

    .line-under-text {
        width: 60%;
    }

    .header-content h1 {
        font-size: 26px;
    }

    .header-content h2 {
        font-size: 22px;
    }

    .header-content button {
        clear: right;
        margin-bottom: 2px;
    }
}

@media all and (max-width: 560px) {
    .navbar-brand {
        display: none;
    }

    .header-content {
        margin-top: 50px;
    }

    .header-content h1 {
        font-size: 20px;
    }

    .header-content h2 {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .header-content button {
        display: none;
    }

    .navbar-item-style li {
        padding: 0;
    }
}

@media all and (max-width: 400px) {
    .header-content {
        margin-top: 15px;
    }

    .header-content h2 {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .navbar-item-style li {
        text-align: center;
        margin: 0px;
        margin-top: -20px;
    }

    .navbar-item-style li:hover {
        margin: -7px;
    }

    .navbar-item-style li a span {
        font-size: 12px;
    }
}

@media all and (max-width: 340px) {
    .navbar-item-style li a {
        font-size: 8px;
    }

    .header-content h1 {
        font-size: 12px;
    }

    .header-content h2 {
        font-size: 8px;
    }
}

/* Learn Section */
.content-start {
    text-align: center;
    padding: 10px 50px;
    border-left: 1px solid rgba(230, 30, 30, 0.6);
    border-right: 1px solid rgba(230, 30, 30, 0.6);
    color: #777777;
    border-radius: 100px;
}

.start-bg:hover .content-start {
    border-radius: 20px;
}

.button-start {
    background-color: transparent;
    display: block;
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid rgba(230, 30, 30, 0.6);
    padding: 5px;
    color: #5a6268;
}

.button-start:hover {
    background-color: rgba(230, 30, 30, 0.9);
    color: #eeeeee;
    border-radius: 4px;
    box-shadow: 5px 5px 0 0 rgba(230, 30, 30, 0.7);
}

/* Need Section */
.need-bg {
    background-color: #f0f0f0;
    height: auto;
}

.need-box {
    width: 99%;
    height: 400px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 120px 20px;
    margin-bottom: 5px;
    text-align: right;
}

.need-box1, .need-box4 {
    color: #DA5A5D;
}

.need-box1:hover, .need-box4:hover {
    color: #fff;
    background-color: #DA5A5D;
}

.need-box1:hover div, .need-box4:hover div {
    background-color: #fff;
}

.need-box2, .need-box5 {
    color: #5AB1DA;
}

.need-box2:hover, .need-box5:hover {
    color: #fff;
    background-color: #5AB1DA;
}

.need-box2:hover div, .need-box5:hover div {
    background-color: #fff;
}

.need-box3, .need-box6 {
    color: #5ADA96;
}

.need-box3:hover, .need-box6:hover {
    color: #fff;
    background-color: #5ADA96;
}

.need-box3:hover div, .need-box6:hover div {
    background-color: #fff;
}

.need-box h2 {
    font-size: 30px;
}

.need-box h3 {
    font-size: 28px;
    font-weight: bold;
}

.need-box div {
    display: block;
    width: 40px;
    height: 4px;
    margin: 40px 0 20px auto;
}

.need-box1 div, .need-box4 div {
    background-color: #DA5A5D;
}

.need-box2 div, .need-box5 div {
    background-color: #5AB1DA;
}

.need-box3 div, .need-box6 div {
    background-color: #5ADA96;
}

/*BLOG Section*/
.blog-bg {
    height: auto;
    background-color: #ffffff;
}

.blog-bg:hover .heading-sec, .need-bg:hover .heading-sec, .start-bg:hover .heading-sec {
    text-shadow: 0 1px 1px #666;
}

.divider {
    height: 3px;
    width: 250px;
    border-bottom: 1px solid rgba(230, 30, 30, 0.5);
    margin: 10px auto;
    transition: 0.5s;
}

.divider-child {
    height: 4px;
    width: 30px;
    background-color: rgba(230, 30, 30, 0.9);
    margin: 0 auto;
    transition: 0.5s;
    opacity: 0;
}

.blog-bg:hover .divider-child, .start-bg:hover .divider-child, .need-bg:hover .divider-child {
    margin: 0 auto;
    opacity: 1;
}

.img-post {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 4px 2px rgba(197, 197, 197, 0.9);
    margin: 0 auto;
}

.blog-bg:hover .img-post {
    box-shadow: 0 0 4px 2px rgba(230, 30, 30, 0.4);
}

.blog-post-box {
    transition: 0.2s;
}

.blog-post-box:hover {
    box-shadow: 0 4px 4px 0px rgba(230, 30, 30, 0.6)
}

.blog-post-box:hover .img-post {
    box-shadow: 0 0 4px 3px rgba(230, 30, 30, 0.4)
}

.img-post img {
    width: 240px;
    height: 240px;
}

.heading-blog-post {
    color: #555;
    margin-bottom: 20px;
}

.detail-blog-post {
    color: #777;
    padding: 0 15px;
}

/* Footer section */
footer {
    width: 100%;
    height: auto;
    background-color: #2b2c30;
}

.content-form {
    color: #dae0e5;
}

.text-form {
    font-size: 50px;
    text-align: center;
}

input[type=text], input[type=email] {
    width: 100%;
    background-color: #2b2c30;
    border: none;
    border-bottom: 1px solid #dae0e5;
    border-radius: 5px;
    color: #eee;
    padding: 5px;
}

input[type=text], input[type=email]:focus {
    box-shadow: none;
    border-bottom: 1px solid #dae0e5;
}

textarea {
    width: 100%;
    background-color: #2b2c30;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    color: #eee;
    padding: 5px;
}

textarea:focus {
    box-shadow: none;
    border-bottom: 1px solid white;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: #2b2c30;
    border: 1px solid #dae0e5;
    border-radius: 5px;
    color: #eee;
}

input[type=submit]:hover {
    border-radius: 0px;
    transition: 2s;
}

.divider-footer {
    height: 1px;
    width: 100%;
    background-color: #393939;
    margin: 20px 0;
}

.content-footer {
    direction: rtl;
    text-align: right;
}

.links, .indexpages, .infous {
    font-size: 14px;
    height: auto;
    padding: 10px;
}

.header-links, .header-pages, .header-infous {
    font-size: 16px;
}

.links a, .indexpages a {
    color: #dae0e5;
}

.links a:hover, .indexpages a:hover {
    color: white;
    text-decoration: none;
}

.line1 {
    width: 100%;
    height: 3px;
    background-color: rgba(152, 131, 85, .5);
}

.overline1 {
    width: 50px;
    height: 3px;
    background-color: #988355;
}

.links a {
    display: block;
    margin-top: 15px;
}

.links a:hover {
    margin-right: 10px;
}

.indexpages a {
    display: block;
    margin-top: 15px;
}

.indexpages a:hover {
    margin-right: 10px;
}

.line2 {
    width: 100%;
    height: 3px;
    background-color: rgba(139, 82, 115, .5);
}

.overline2 {
    width: 50px;
    height: 3px;
    background-color: #8B5273;
}

.line3 {
    width: 100%;
    height: 3px;
    background-color: rgba(34, 162, 162, .5);
}

.overline3 {
    width: 50px;
    height: 3px;
    background-color: #22a2a2;
}

.information {
    color: #eee
}
.information a{
    color: #eee;
}

.phoneicon, .homeicon {
    color: #dae0e5;
}

.icons {
    font-size: 20px;
    padding-right: 15px;
    padding-top: 10px;
    color: #dae0e5;
}

.icons:hover {
    color: white;
}

/* javascript Use */
.show {
    opacity: 1;
    transition: 0.8s;
}

.hide {
    opacity: 0;
    transition: 0.8s;
}